<div class="card-body">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ task.user_data.visa.photo }}" class="img-fluid photo-size" alt="Visa Photo">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5">
                    <p class="card-text mb-1"><strong>Passport number:</strong> {{ task.user.foreign_passport }}</p>
                    <br>
                    <p class="card-text mb-1"><strong>Surname:</strong> {{ task.user.surname }}</p>
                    <p class="card-text mb-1"><strong>Name:</strong> {{ task.user.name }}</p>
                    <p class="card-text mb-1"><strong>Sex:</strong> {{ task.user.sex }}</p>
                    <br>
                    <p class="card-text mb-1"><strong>Birth Date:</strong> {{ task.user.date_of_birth }}</p>
                    <p class="card-text mb-1"><strong>Nationality:</strong> {{ task.user.nationality }}</p>
                </div>
                <div class="col-md-7">
                    <p class="card-text mb-1"><strong>Issuing Post Name:</strong> {{ task.user_data.visa.place_of_issue
                        }}</p>
                    <br>
                    <p class="card-text mb-1"><strong>Visa Type/Class:</strong> {{ task.user_data.visa.type }}</p>
                    <p class="card-text mb-1"><strong>Entries:</strong> {{ task.user_data.visa.entry_amount }}</p>
                    <p class="card-text mb-1"><strong>Country:</strong> {{ task.user_data.visa.country }}</p>
                    <br>
                    <p class="card-text mb-1"><strong>Issue Date:</strong> {{ task.user_data.visa.date_of_issue }}</p>
                    <p class="card-text mb-1"><strong>Expiration Date:</strong> {{ task.user_data.visa.date_of_expiry }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-footer d-flex flex-column">
    <span><strong>Причина подовження візи:</strong> {{ task.user_data.visa_extension_reason }}</span>
    <span><strong>Дата подовження:</strong> {{ task.user_data.visa_extension_date }}</span>
</div>